@page
@using Api
@using Website.Pages
@model Website.Pages.IndexModel
@{
  ViewData["Title"] = "Board Games, Yas!";
}

<div class="row">
  <h2>Games</h2>
  <ul class="game-list list-inline">
    @foreach (var game in Model.GamesToPlay)
    {
      <li>
        <div class="game">
          <div class="bgg-id"><a href="@game.BoardGameGeekLink" title="Open on BoardGameGeek">#@game.Id</a></div>
          <div class="title">@game.Title</div>
          <div>
            <span class="player-counts">
              <span class="glyphicon glyphicon-user"></span>
              @{
                if (game.MinimumPlayers == game.MaximumPlayers)
                {
                  @game.MinimumPlayers
                }
                else
                {
                  @game.MinimumPlayers<text>-</text>@game.MaximumPlayers
                  if (game.RecommendedPlayers > 0)
                  {
                    <text> (</text>@game.RecommendedPlayers<text>)</text>
                  }
                }
              }
            </span>
            <span class="rating"><span class="glyphicon glyphicon-thumbs-up"></span> <a href="@game.BoardGameGeekLink" title="Open on BoardGameGeek">@game.Rating</a></span>
          </div>
          <div class="time">
            <span class="glyphicon glyphicon-time"></span> @game.Time minutes
          </div>
          <div class="interested">
            <span class="glyphicon glyphicon-ok"></span>
            @{
              if (game.WantsToPlay != null && game.WantsToPlay.Any())
              {
                @string.Join(", ", game.WantsToPlay)
              }
              else
              {
                <text>Nobody</text>
              }
            }
          </div>
          <div class="mechanics">
            <span class="glyphicon glyphicon-tags mechanics-icon"></span>
            @foreach (var m in game.Mechanics)
            {
              <a href="/@m" title="Games with @m mechanics">@m</a>@((m != game.Mechanics.Last()) ? "," : "")
            }
          </div>
        </div>
      </li>
    }
  </ul>
</div>
<div class="row">
  <div class="col-md-12">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

